body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.calculator {
    display: flex;
    border: 2px solid black;
    width: 300px;
    height: 350px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px lightgray;
}

.output-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 250px;
    height: 245px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 4px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 250px;
}

.row > div {
    border: 2px solid black;
}

.number-zero{
    flex-grow: 2;
}

.output-box p {
    width: 200px;
    margin: 10px 10px;
    text-align: right;
}

button {
    width: 50px;
    height: 35px;
    border-radius: 3px;
    width: 50px;
    margin: 6px;
}
